.chats-box{
    display: flex;
    width: 100%;
    height: 90vh;
    background-color: var(--bg-secondary);
    border-radius: 12px;
    flex-direction: row;
    padding: 10px;
    box-shadow: var(--shadow);
    .chats-tabs{
        width: 30%;
        h1{
            margin: 0;
            margin-bottom: 20px;
            font-size: 24px;
        }
        display: flex;
        flex-direction: column;
        .chats{
            display: flex;
            flex-direction: column;
            margin: 5px;
            gap: 45px;
            .chat{
                p{
                    color: var(--color-primary);
                    cursor: pointer;
                    margin: 0;
                }
                .last-message{
                    margin: 0;
                    color: var(--color-text-secondary);
                    font-size: 14px;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
            }
        }
    }
}


@media (max-width: 612px) {
    .chats-box{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}