.profile {
    position: relative; 
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 90vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 27.5px;
}

.settings-button {
    position: absolute;
    top: -20px;   
    right: -20px;
    border: none;
    background-color: transparent;
    scale: 0.4;
    transition: scale ease 0.3s;
    transition: all ease 0.3s;
    cursor: pointer;
}

.settings-button:hover {
    scale: 0.45;
    transform: rotate(30deg);   
}

.base-info-block{
    display: flex;
    flex-direction: column;
    width: 30%;
    .avatar{
        display: flex;
        width: 100px;
        height: 100px;
        background-color: #6582ff;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        margin: 20px;
        p{
            font-size: 52px;
            color: #fff;
        }
    }
    .username{
        font-family: Outfit;
        font-size: 16px;
        font-weight: 700;
        color: #6582ff;
        margin: 0;
        text-align: left;
        margin-left: 10px;
    }
    .description{
        color: #656464;
        margin-left: 10px;
        font-size: 14px;
        height: 100px;
        overflow-wrap: break-word;
    }
    .progressbar-container{
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .progressbar-container-info{
        display: flex;
        width: 95%;
        margin-left: 10px;
        justify-content: space-between;
        p{
            margin: 0;
        }
    }
    .progressbar{
        width: 95%;
        height: 10px;
        margin-left: 10px;
        background-color: #656464;
        border-radius: 5px;
        .progressbar-passed{
            width: 0%;
            height: 10px;
            background-color: #6582ff;
            border-radius: 5px;
        }
    }
}


.data-user-block{
    display: flex;
    flex-direction: column;
    width: 100%;
    .grade-spec {
        width: 100%;
        display: flex;
        justify-content: left;
        font-family: Outfit;
        gap: 5px;
        margin: 0;
        margin-left: 6px;
    }
    .skills-text{
        margin-left: 6px;
    }
    .profile-skills{
        display: flex;
        flex-wrap: wrap;
        height: auto;
        gap: 10px;
        margin-left: 6px;
        .skill:hover{
            transform: translateY(-2px);
        }
    }
}




@media (max-width: 629px) {
    .profile{
        display: flex;
        flex-direction: column;
    }
    .base-info-block{
        width: 100%;
        .avatar{
            margin: 10px;
        }
    }
}