.profile {
    position: relative; 
    display: flex;
    flex-direction: row;
    width: 90%; 
    padding-bottom: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 27.5px;
}

.settings-button {
    position: absolute;
    top: -20px;   
    right: -20px;
    border: none;
    background-color: transparent;
    scale: 0.4;
    transition: scale ease 0.3s;
    transition: all ease 0.3s;
    cursor: pointer;
}

.settings-button:hover {
    scale: 0.45;
    transform: rotate(30deg);   
}

.base-info-block{
    display: flex;
    flex-direction: column;
    width: 30%;
    img.avatar-img{
        transition: all 0.3s ease;
        display: flex;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 6px solid var(--color-primary);
        justify-content: center;
        align-items: center;
        margin: 20px;
    }
    .avatar{
        display: flex;
        width: 150px;
        height: 150px;
        background-color: #6582ff;
        border-radius: 50%;
        border: none;
        justify-content: center;
        align-items: center;
        margin: 20px;
        p{
            font-size: 52px;
            color: #fff;
        }
    }
    .username{
        font-family: Outfit;
        font-size: 16px;
        font-weight: 700;
        color: #6582ff;
        margin: 0;
        text-align: left;
        margin-left: 10px;
    }
    .description{
        color: #656464;
        margin-left: 10px;
        font-size: 14px;
        height: 100px;
        overflow-wrap: break-word;
    }
    .progressbar-container{
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .progressbar-container-info{
        display: flex;
        width: 95%;
        margin-left: 10px;
        justify-content: space-between;
        p{
            margin: 0;
        }
    }
    .progressbar{
        width: 95%;
        height: 10px;
        margin-left: 10px;
        background-color: #656464;
        border-radius: 5px;
        .progressbar-passed{
            width: 0%;
            height: 10px;
            background-color: #6582ff;
            border-radius: 5px;
        }
    }
    .linked-services{
        display: flex;
        flex-direction: column;
        margin: 10px;
        .service-text{
            margin: 0;
            color: var(--color-primary);
        }
        .github-button{
            display: flex;
        }
    }
}


.data-user-block{
    display: flex;
    flex-direction: column;
    width: 100%;
    .grade-spec {
        width: 100%;
        display: flex;
        justify-content: left;
        font-family: Outfit;
        gap: 5px;
        margin: 0;
        margin-left: 6px;
    }
    .skills-text{
        margin-left: 6px;
    }
    .profile-skills{
        display: flex;
        flex-wrap: wrap;
        height: auto;
        width: 75%;
        gap: 10px;
        margin-left: 6px;
        .skill:hover{
            transform: translateY(-2px);
        }
    }
    .projects-area{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .projects-text{
        margin-left: 6px;
    }
    .no-project-advise{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        border: 4px dashed var(--color-primary);  
        border-radius: 20px;
        height: 200px;
        width: 95%;
        margin: 5px;
        p{
            color: var(--color-primary);
            user-select: none;
            text-align: center;
            font-size: 14px;
        }
        svg{
            transition: scale 0.3s ease;
            scale: 2.5;
            cursor: pointer;
        }
        svg:hover{
            transition: scale 0.3s ease;
            scale: 2.8;
        }
    }
    
}


@media (max-width: 629px) {
    .profile{
        display: flex;
        flex-direction: column;
    }
    .base-info-block{
        width: 100%;
        .avatar{
            margin: 10px;
        }
    }
    .profile-skills{
        width: 100% !important;
    }
}


@media (max-width: 650px) {
    .avatar{
        display: flex;
        width: 128px !important;
        height: 128px !important;
        background-color: #6582ff;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }
    img.avatar-img{
        transition: all 0.3s ease;
        border-radius: 50%;
        width: 120px !important;
        height: 120px !important;
    }
}



@media (max-width: 684px) {
    .profile{
        transition: all ease 0.3s;
        width: 99% !important;
        margin: 0;
    }
}

@media (max-width: 1012px) {
    .github-button{
        font-size: 12px !important;
    }
}